.path-donate .region-content .donation-flow-step--donation .donation-summaries {
  display: none;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries {
  margin-bottom: 2.1875rem;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries a {
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries {
    margin-top: 1.5625rem;
  }
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.9375rem;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step.hidden-element {
  display: none;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step ~ .donation-summary-step {
  margin-top: 0.625rem;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .dedication-summary--statement,
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .field--name-field-donation-amount {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-size: 0.875rem;
  line-height: 1.2143;
  color: #4a4a4a;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .dedication-summary--statement,
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .field--name-field-donation-amount {
    font-size: 1rem;
    line-height: 1.1875;
  }
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .dedication-summary--product,
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .field--name-field-chapter {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-size: 0.875rem;
  line-height: 1.5715;
  color: #767676;
  text-align: left;
  margin-top: 0.3125rem;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .dedication-summary--product,
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .dedication-summary--statement {
  margin-bottom: 0;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .credit-cards {
  width: 3.75rem;
  height: 1.1875rem;
  margin-right: 0.625rem;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .summary-number {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 0.875rem;
  line-height: 1.2143;
  color: #4a4a4a;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .donation-summary-pane .donation-summary--items .summary-number {
    font-size: 1rem;
    line-height: 1.1875;
  }
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .dedication-summary-link-separator {
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .summary-edit {
  font-size: 0.875rem;
  line-height: 1.2143;
  text-decoration: underline;
  color: #4a4a4a;
  margin-left: auto;
}
html[data-whatintent="mouse"] .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .summary-edit {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[data-whatintent="mouse"] .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step .summary-edit:hover {
  text-decoration: none;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--complete a {
  padding: 0.9375rem 1.5625rem;
}
@media screen and (min-width: 768px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--complete a {
    border-top: 2px solid #bbbcbc;
    padding: 1.125rem 2.1875rem;
  }
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--complete span {
  color: #707070;
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--current {
  display: none;
}
@media screen and (min-width: 768px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--current a {
    pointer-events: none;
    border-top: 6px solid #00bab3;
    background-color: #fff;
    padding: 0.875rem 2.1875rem;
  }
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--current span {
  color: #000;
}
@media screen and (max-width: 767px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--pending {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--pending a {
    pointer-events: none;
    border-top: 2px solid #bbbcbc;
    padding: 1.125rem 2.1875rem;
  }
}
.path-donate .region-content form.commerce-checkout-flow-donation-checkout-flow .donation-summaries .donation-summary-step--pending span {
  color: #707070;
}
