{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a mini-donation block.
 *
 * Available variables:
 * - links: An array of quick donation links using the amounts
 *   defined in block configuration.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  <ul class="commerce--donate--mini-donation-links">
    {% for link in content.links %}
      <li>{{ link }}</li>
    {% endfor %}
  </ul>
{% endblock %}
