{#
/**
 * @file
 * Default template for DonationItem pane summaries.
 *
 * Available variables:
 *   - content: All fields defined in the 'donation' view mode.
 *   - order_item: The Donation order item for easy display logic.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('commerce_donation_flow/summaries') }}
<div class="donation-summary--items">
  {{ content }}
</div>
